# Global
*               @hathix

# Folder Specific Overrides 

# Frontend
/frontend/      @exxonvaldez @akgupta89

# Backend
/backend/ 	@youngj @jtanquil

# Kubernetes reviewer suggestions
/kubernetes/    @youngj
