.ControlPanel {
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	margin-right: 20px;
	grid-column: col1-start / col3-start;
	grid-row: row2-start;
	font-family: 'Oswald', sans-serif;
}
	
.dropDownOverlay .list-group-item:hover {
	z-index:1000;
}

