:root {
  --stop-name: "";
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.controls-wrapper {
  display: flex;
  justify-content: space-between;
}

.control {
  flex: 0 1 100%;
}
.center.metricsWidth {
  width:80%;
}
.center {
  margin:auto;
  width:15%;
  padding-top:5%;
}

.largeMarginTop {
  margin-top:4rem;
}

.page-title
{
    flex-grow:1;
    font-size:18px;
}

.flex-screen
{
    height:100%;
    display:flex;
    flex-direction:column;
}

.map-instructions
{
    border:1px solid #ccc;
    background-color:#fff;
    border-radius:5px;
    max-width:180px;
    padding:8px;
    opacity:1.0;
}

.on-hover > svg {
  transform: scale(1.6);
}

.on-hover::after {
  z-index: 1000;
  content: var(--stop-name);
  position: absolute;
  width: 240px;
  top: 1px;
  left: 23px;
  font-weight: bold;
  color: #0177bf; /* this needs to match the theme's main primary color */
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}