.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.controls-wrapper {
  display: flex;
  justify-content: space-between;
}

.control {
  flex: 0 1 100%;
}

.center {
  margin:auto;
  width:15%;
  padding-top:5%;
}