# Global
*               @hathix

# Folder Specific Overrides 

# Frontend
/frontend/      @exxonvaldez @akgupta89 @ckrajewski

# Backend
/backend/ 	    @youngj @wllgrnt

# Kubernetes reviewer suggestions
/kubernetes/    @youngj
